[submodule ".registry"]
	path = .registry
	url = https://github.com/urbananalyst/urbananalyst.r-universe.dev
	branch = HEAD
[submodule "dodgr"]
	path = dodgr
	url = https://github.com/UrbanAnalyst/dodgr
[submodule "gtfsrouter"]
	path = gtfsrouter
	url = https://github.com/UrbanAnalyst/gtfs-router
[submodule "m4ra"]
	path = m4ra
	url = https://github.com/UrbanAnalyst/m4ra
[submodule "ttcalib"]
	path = ttcalib
	url = https://github.com/UrbanAnalyst/ttcalib
[submodule "uaengine"]
	path = uaengine
	url = https://github.com/UrbanAnalyst/uaengine
